<h1>Documentation</h1>

<p>
  <strong>TERMINAL v2 (ng7):</strong>&nbsp;
  <a href="https://github.com/madchops1/terminal" target="_blank">https://github.com/madchops1/terminal</a>
</p>

<p>
  <strong>TERMINAL v1 (Angular JS):</strong>&nbsp;
  <a href="https://github.com/madchops1/karl-2017" target="_blank">https://github.com/madchops1/karl-2017</a>
</p>

<h2>Services</h2>
<p>TerminalService</p>
<p>InputService</p>
<p>OutputService</p>
<p>DirectoryStructureService</p>
<p>HelpService</p>
<p>ClearService</p>
<p>PwdService</p>
<p>LsService</p>
<p>CdService</p>
<p>CatService</p>
<p>HistoryService</p>
<p>TabService</p>

<h2>Observables</h2>
<p>Output</p>
<p>File</p>