<div id="terminal-wrapper" class="sublime-theme" (click)="focus()" #terminalwrapper>
  <div id="inner">
      <ul #terminallist>
        <li *ngFor="let item of output">
          <span [hidden]="item.plain" class="user">you@</span>
          <span [hidden]="item.plain" class="host">karlsteltenpohl.com:</span>
          <span [hidden]="item.plain" class="root">/</span>
          <span [hidden]="item.plain" class="location">{{ item.pwdString }}$</span>
          <span class="spacer"> </span>
          <span [innerHtml]="item.text"></span>
        </li>
      </ul>
      <div id="terminal" (click)="focus()">
          <input type="text" id="setter" autocomplete="off" #setter [(ngModel)]="originalText" (keydown)="keyDown($event, true)" (keyup)="keyDown($event, false)" />
          <input type="text" id="faketab" autocomplete="off" #faketab (focus)="tabFocus()" />
          <div id="getter">
              <span class="user">you@</span>
              <span class="host">karlsteltenpohl.com:</span>
              <span class="root">/</span>
              <span class="location">{{ pwdString }}$</span>
              <span class="spacer"> </span>
              <span id="writer" [innerHtml]="cloneText"></span><b class="cursor blinking-cursor" id="cursor" #cursor [hidden]="hideCarrot" [ngStyle]="cursorStyle">&nbsp;<div id="container"></div></b>
          </div>
      </div>
  </div>
</div>